.big_container,
.first_container,
.second_container {
  display: flex;
  flex-direction: row;
  gap: 54px;
  flex-wrap: wrap;
  align-items: center;
}
.first_container{
  /* border: 2px solid red;justify-content: space-between; */
  width: 72vw;
  justify-content: space-between;
  gap: 50px;
}

/* @media screen and (max-width:880px) {
.first_container{
  width: 60vw;
}
} */

/* 
@media screen and (max-width:700px) {
  .first_container *{
    display: none;
  }
  .first_container{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }


  } */

.big_container {
  /* background-color: rgb(18, 32, 44,0.66); */

  background-image: linear-gradient(
    to bottom,
    #1d1d1d,
    rgba(29, 29, 29, 0.5),
    #1d1d1d
  );

  color: white;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
  padding-right: 0;
  box-shadow: 0px 0px 30px 1px rgba(174, 32, 132, 0.75);

  /* opacity: 0.79; */

  /* filter: blur(10px); */
  /* filter: blur(1px); */
}

.big_container * {
  /* opacity: 1;
  filter: contrast(2px);
  filter:saturate(2px);
   */
  /* filter: blur(-10px); */
  transition: all 0.2s;
}
/* @media only screen and (max-width: 995px) {
  .big_container {
    font-size: 80%;
  }
  .second_container *{
    display: block;
    width: 230%;
  }
} */

.customLogin{
  margin-left: 15vw;
  /* width: 40px; */
}
@media screen and (min-width:1230px) {
  .customLogin{

    margin-left: 35vw;
  }
  }
@media screen and (max-width:995px) {
.customLogin{
  
  margin-left: 0px;
}

}



@media screen and (min-width:995px) {
  .second_container{
    transform: translateX(80px);
  }
  }


.logo {
  width: 150px;
  height: 100px;
  background-image: url("../images/film-reel-36155.png");
  background-repeat: no-repeat;

  background-size: contain;
  margin: 10px;
  margin-right: 0px;
  transform: translateX(20px);

}


@media screen and (max-width: 700px) {
  .logo {
    width: 100px;
    height: 80px;
    margin-left: 30px;
  
    margin-top: 10px;
  }
}

.link {
  color: aliceblue;
  transition: all 0.2 ease-in;
 display: block;
}
/* and (min-width: 600px) */
@media screen and (max-width: 995px)  {
.link{
  width: 500px;

}
}
.active {
  color: rgb(155, 50, 120);
}
.link:hover {
  color: rgb(155, 50, 120);
}



/* li a{
  color:aliceblue ;
  text-shadow: 1px;
  text-decoration-color: aliceblue;
} */